.found.grid-item {
	filter: grayscale(1) brightness(55%);
}

.header-image {
  max-width: 100%;
  margin-bottom: -2rem;
}

.header {
  text-align: center;
}
h1 {
    font-size: 2rem;
}

.app-container {
  padding: 0 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  background: #ddd;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
.imageWrap::before {
	content: "";
	padding-bottom: 100%;
	display: block;
}

.imageWrap {
	background: black;
	padding: 1rem;
	overflow: hidden; /* Important to hide cropped parts if using 'cover' 
} 

.imageWrap img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* or 'contain' 
} 
